<div class="four-content">
  <div class="four-text">
    <p class="text one">WEB DESIGN PROJ</p>
    <p class="text two">WEB DESIGN PROJ</p>
    <p class="text two">WEB DESIGN PROJ</p>
  </div>
  <div class="photos-estudio">
    <img src="assets/images/Capturar.PNG" alt="">
    <img src="assets/images/Capturar2.PNG" alt="">
    <img src="assets/images/Capturar3.PNG" alt="">
  </div>
<div class="photos-blog">
  <img src="assets/images/imgone.jpeg" alt="">
  <img src="assets/images/imgtwo.jpeg" alt="">
</div>
<div class="four-button">
  <button class="button" [routerLink]="['projects']">ARCHIVE</button>
</div>
</div>
