<div class="projects-container">
  <div class="projects-head">
    <h1>Hello.</h1>
    <div class="projects-title">
      <h1>ALL PROJECTS</h1>
      <h1>ALL PROJECTS</h1>
      <h1>ALL PROJECTS</h1>
      <h1>ALL PROJECTS</h1>
      <h1>ALL PROJECTS</h1>
    </div>
  </div>
  <div class="projects-detail">
    <div class="projects one">
      <div class="text-blog">
        <h1 class="title">
          Blog Angular
        </h1>
        <p class="description">
          Criação de um blog com Angular, utilizando HTML, CSS e TypeScript. Projeto realizado dentro do bootcamp da Digital Innovation One, feito com material de acervo pessoal e com imagens publicas.
        </p>
        <p class="description">
          O blog é inspirado em um design da site dribble, possui navegação entre as páginas e conteúdo dinâmico. Uma aplicação web que procura alinhar conteúdo com design.
        </p>
        <a href="https://github.com/yesgabio/angular-blog" target="_blank">acesse aqui o código no GitHub!</a>
      </div>
      <div class="photos-blog">
        <img src="assets/images/imgone.jpeg" alt="">
        <img src="assets/images/imgtwo.jpeg" alt="">
      </div>
    </div>
    <div class="projects two">
      <div class="text-foto">
        <h1 class="title">
          Estúdio Fotográfico
        </h1>
        <p class="description">
          Web site construído em HTML e CSS puro, usado como ferramenta de estudo para essas duas liguagens. Desenvolvido para a disciplina de web no curso técnico em informática o projeto ajudou muito no desenvolvimento do estudo dessas duas linguagens de programação.
        </p>
        <p class="description">
          Com efeitos em CSS o projeto é feito em uma página e o formulário ao final possui direcionamento a outra página desenvolvida. Possui links externos e construção de portifólio fotográfico com imagens públicas.
        </p>
        <a href="https://github.com/yesgabio/WEB--EstudioFotografico" target="_blank">acesse aqui o código no GitHub!</a>
      </div>
      <div class="photos-foto">
        <img src="assets/images/Capturar.PNG" alt="">
        <img src="assets/images/Capturar2.PNG" alt="">
        <img src="assets/images/Capturar3.PNG" alt="">
      </div>
    </div>
    <div class="projects three">
      <div class="text-flor">
        <h1 class="title">
          Floricultura React
        </h1>
        <p class="description">
          Web site construído em HTML, CSS e JavaScript para o trabalho final da disciplina de web no curso técnico em informática. Primeiro projeto Full Stack, com conexão ao banco de dados relacional, o web site possibilita ao usuário realizar CRUD (Created, Read, Update, Delete) dos produtos.
        </p>
        <p class="description">
          Neste projeto também foram utilizadas as tecnologias Node e Vue. Com imagens públicas e design próprio o projeto possui navegação entre as páginas e links externos.
        </p>
        <a href="https://github.com/yesgabio/firstReactFullStack" target="_blank">acesse aqui o código no GitHub!</a>
      </div>
      <div class="photos-flor">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
    <div class="projects four">
      <div class="text-buzz">
        <h1 class="title">
          Buzzfeed Angular
        </h1>
        <p class="description">
          Criação de um clone do buzzfeed com Angular, utilizando HTML, CSS e TypeScript. Projeto realizado dentro do bootcamp da Digital Innovation One, feito com base no material disponibilizado no bootcamp.
        </p>
        <p class="description">
          Com algumas modificações de design e de assunto pessoais, o site possui navegação complexa que depende da resposta do usuário. Projeto muito interessante e de grande aprendizado.
        </p>
        <a href="https://github.com/yesgabio/projeto-buzzfeed" target="_blank">acesse aqui o código no GitHub!</a>
      </div>
      <div class="photos-buzz">
        <img src="assets/images/buzzfeed1.png" alt="">
        <img src="assets/images/buzzfeed2.png" alt="">
      </div>
    </div>
    <div class="projects one">
      <div class="text-poke">
        <h1 class="title">
          Pokedex JavaScript
        </h1>
        <p class="description">
          Criação web com a utilização de uma API do Pokemon, utilizando HTML, CSS e JavaScript. Projeto realizado dentro do bootcamp da Digital Innovation One, feito com base no material disponibilizado no bootcamp.
        </p>
        <p class="description">
          Utilizando design pessoal, a página possui carregamento conforme a utilização do usuário, fazendo consulta direta na API. Primeiro projeto realizado utilizando dados de uma API.
        </p>
        <a href="https://github.com/yesgabio/js-developer-pokedex" target="_blank">acesse aqui o código no GitHub!</a>
      </div>
      <div class="photos-poke">
        <img src="assets/images/pokedex1.png" alt="">
        <img src="assets/images/pokedex2.png" alt="">
      </div>
    </div>
    <div class="projects two">
      <div class="text-app">
        <h1 class="title">
          App Renova RS
        </h1>
        <p class="description">

        </p>
        <p class="description">

        </p>
        <a href="https://github.com/yesgabio/DadosRenovaApp" target="_blank">acesse aqui o código no GitHub!</a>
      </div>
      <div class="photos-app">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
