<div class="one-content">
  <div class="one-title">
    <h1 id="first">ALL PROJECTS</h1>
    <h1 id="final">Gabriela Oliveira - Full Stack Developer</h1>
    <h1 id="year">2023</h1>
    <h1 id="year-edit">2023</h1>
    <h1 id="final">Gabriela Oliveira - Full Stack Developer</h1>
    <h1 id="first-edit">ALL PROJECTS</h1>
  </div>
  <div class="one-photo">
    <img src="https://i.pinimg.com/564x/56/ec/51/56ec51cccbf070defd436b0cf462c588.jpg" alt="">
  </div>
  <div class="one-button">
    <button class="button">ARCHIVE</button>
  </div>
</div>
