*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: 200;
  color: white;
}

.button {
  --bg: #000;
  --hover-bg: #eb4022;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.6em 1.5em;
  background: var(--bg);
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
